@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    width: 100vw;
    height: 150px;
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    color: #fff;
    font-family: 'Rubik Glitch', cursive;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1{
    font-size: 55pt;
    font-family: 'Oswald', sans-serif;
    margin-top: 100px;
    margin-bottom: 80px;
}

.produtos{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}